$primary-color:         #82E138;
$secondary-color:       #E0781A;
$tertiary-color:        #0092FF;
$white-color:           #FFFFFF;
$black-color:           #000000;
$box-shadow-color:      rgba(0, 0, 0, 0.25);
$sidebar-width:           200px;