.about {
  .about-header {
    padding: 30px;
    h1 {
      text-align: center;
      padding-top: 100px;
      font-size: 60px;
    }
  }
  .description {
    background-color: $secondary-color;
    .contaner {
      .our-purpose {
        margin: 0 30%;
        font-size: 20px;
        line-height: 160%;
        text-align: center;
        padding: 50px 0;
        .purpose-heading {
          margin-bottom: 50px;
          color: $white-color;
        }
      }
      .our-value {
        padding: 0 10%;
        height: 80vh;
        .value-heading {
          background-color: $primary-color;
          height: 76vh;
          padding: 30px 50px;
          .heading {
            text-align: justify;
            color: $white-color;
          }
          .text {
            text-align: justify;
            font-size: 17px;
          }
        }
        .value-content {
          margin: 0%;
          padding: 0;
          height: 80vh;
          .our-vision {
            background-color: white;
            padding: 20px 40px;
          }
          .our-mission {
            background-color: white;
            padding: 20px 40px;
          }
          .our-enterprise {
            background-color: white;
            padding: 20px 40px;
          }
        }
      }
      .division {
        background-color: rgb(202, 202, 255);
        text-align: center;
        margin-top: 100px;
        padding: 0 80px;
        .division-heading {
          padding-top: 50px;
          margin-bottom: 0;
        }
        hr {
          border: 2px solid $secondary-color;
          width: 100px;
          margin-bottom: 30px;
        }
        // .our-division {

        // }
      }
    }
  }
  @media screen and (max-width: 480px) {
    .about-header {
      padding: 20px;
      h1 {
        font-size: 40px;
      }
    }
    .description {
      .contaner {
        .our-purpose {
          margin: 0 5%;
          font-size: 20px;
          line-height: 140%;
          text-align: justify;
          padding: 30px 0;
          .purpose-heading {
            text-align: center;
            font-size: 20px;
            margin-bottom: 30px;
          }
        }
        .our-value {
          padding: 0 5%;
          display: block !important;
          .value-heading {
            background-color: $primary-color;
            padding: 20px 30px;
            height: 50vh;
            .heading {
              text-align: center;
              color: $white-color;
              margin-bottom: 0;
            }
            .text {
              text-align: justify;
              font-size: 18px;
            }
            hr {
              border: 2px solid $secondary-color;
              width: 100px;
              margin-bottom: 30px;
            }
          }
          .value-content {
            .our-vision {
              background-color: white;
              padding: 20px 40px;
            }
            .our-mission {
              background-color: white;
              padding: 20px 40px;
            }
            .our-enterprise {
              background-color: white;
              padding: 20px 40px;
            }
          }
        }
        .division {
          background-color: rgb(202, 202, 255);
          margin-top: 100px;
          padding: 0 80px;
          .division-heading {
            padding-top: 30px;
            margin-bottom: 0;
          }
          .our-division {
            display: block !important;
            .software {
              width: 80%;

            }
          }
        }
      }
    }
  }
}
