.about {
  .about-header {
    padding: 30px;
    width: 100%;
    background: linear-gradient(to bottom, #000, transparent),
      url("../../images/about.png");
    background-size: cover;
    height: 70vh;
    h1 {
      text-align: center;
      padding-top: 100px;
      font-size: 60px;
      color: white;
    }
  }
  .description {
    background-color: $secondary-color;
    .contaner {
      .our-purpose {
        margin: 0 30%;
        font-size: 20px;
        line-height: 160%;
        text-align: center;
        padding: 50px 0;
        .purpose-heading {
          margin-bottom: 50px;
          color: $white-color;
        }
      }
      .our-value {
        padding: 0 10%;
        .value-heading {
          background: linear-gradient(to bottom, #000, transparent),
            url("../../images/about.png");
          background-size: cover;
          padding: 30px 50px;
          .heading {
            text-align: justify;
            color: $white-color;
          }
          .text {
            text-align: justify;
            font-size: 17px;
          }
        }
        .value-content {
          margin: 0%;
          padding: 0;
          .our-vision {
            background-color: white;
            padding: 20px 40px;
          }
          .our-mission {
            background-color: white;
            padding: 20px 40px;
          }
          .our-enterprise {
            background-color: white;
            padding: 20px 40px;
          }
        }
      }
      .division {
        background-color: rgb(202, 202, 255);
        text-align: center;
        margin-top: 100px;
        padding: 50px 80px;
        .division-heading {
          margin-bottom: 0;
        }
        hr {
          border: 2px solid $secondary-color;
          width: 100px;
          margin-bottom: 30px;
        }
        .our-division {
          padding-top: 50px;
          .software {
            img {
              height: 200px;
              width: 200px;
              transition: width 1s, height 1s, transform 1s;
            }
            img:hover {
              width: 220px;
              height: 220px;
            }
            button {
              width: 150px;
              height: 40px;
              font-size: 15px;
              border-radius: 50px;
              border: 2px solid $secondary-color;
              background-color: transparent;
            }
            button:hover {
              background-color: $secondary-color;
              transition: all 0.3s linear;
              color: white;
            }
            .software-modal {
              display: none; /* Hidden by default */
              position: fixed; /* Stay in place */
              z-index: 1; /* Sit on top */
              padding: 100px; /* Location of the box */
              left: 0;
              top: 0;
              width: 100%; /* Full width */
              height: 100%; /* Full height */
              overflow: auto; /* Enable scroll if needed */
              background-color: rgb(0, 0, 0); /* Fallback color */
              background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
              .modal {
                background: #fefefe;
                border: 2px solid #888;
                padding-top: 20px;
                height: 80vh;
                .close {
                  color: #aaaaaa;
                  float: right;
                  font-size: 28px;
                  font-weight: bold;
                  padding-right: 20px;
                }
                .close:hover,
                .close:focus {
                  color: rgb(0, 0, 0);
                  text-decoration: none;
                  cursor: pointer;
                }
                .software-row {
                  margin: auto;
                  padding: 20px;
                  width: 80%;
                  .modal-image {
                    img {
                      width: 400px;
                      height: 400px;
                      margin: 5px;
                    }
                  }
                  .modal-content {
                    text-align: justify;
                  }
                }
              }
            }
          }
          .software:hover {
            color: $secondary-color;
          }
          .training {
            img {
              height: 200px;
              width: 200px;
              transition: width 1s, height 1s, transform 1s;
            }
            img:hover {
              width: 220px;
              height: 220px;
            }
            button {
              width: 150px;
              height: 40px;
              font-size: 15px;
              border-radius: 50px;
              border: 2px solid $secondary-color;
              background-color: transparent;
            }
            button:hover {
              background-color: $secondary-color;
              transition: all 0.3s linear;
              color: white;
            }
            .training-modal {
              display: none; /* Hidden by default */
              position: fixed; /* Stay in place */
              z-index: 1; /* Sit on top */
              padding: 100px; /* Location of the box */
              left: 0;
              top: 0;
              width: 100%; /* Full width */
              height: 100%; /* Full height */
              overflow: auto; /* Enable scroll if needed */
              background-color: rgb(0, 0, 0); /* Fallback color */
              background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
              .modal {
                background: #fefefe;
                border: 2px solid #888;
                padding-top: 20px;
                height: 80vh;
                .close {
                  color: #aaaaaa;
                  float: right;
                  font-size: 28px;
                  font-weight: bold;
                  padding-right: 20px;
                }
                .close:hover,
                .close:focus {
                  color: rgb(0, 0, 0);
                  text-decoration: none;
                  cursor: pointer;
                }
                .training-row {
                  margin: auto;
                  padding: 20px;
                  width: 80%;
                  .modal-image {
                    img {
                      width: 400px;
                      height: 400px;
                      margin: 5px;
                    }
                  }
                  .modal-content {
                    text-align: justify;
                  }
                }
              }
            }
          }
          .training:hover {
            color: $secondary-color;
          }
          .development {
            img {
              height: 200px;
              width: 200px;
              transition: width 1s, height 1s, transform 1s;
            }
            img:hover {
              width: 220px;
              height: 220px;
            }
            button {
              width: 150px;
              height: 40px;
              font-size: 15px;
              border-radius: 50px;
              border: 2px solid $secondary-color;
              background-color: transparent;
            }
            button:hover {
              background-color: $secondary-color;
              transition: all 0.3s linear;
              color: white;
            }
            .development-modal {
              display: none; /* Hidden by default */
              position: fixed; /* Stay in place */
              z-index: 1; /* Sit on top */
              padding: 100px; /* Location of the box */
              left: 0;
              top: 0;
              width: 100%; /* Full width */
              height: 100%; /* Full height */
              overflow: auto; /* Enable scroll if needed */
              background-color: rgb(0, 0, 0); /* Fallback color */
              background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
              .modal {
                background: #fefefe;
                border: 2px solid #888;
                padding-top: 20px;
                height: 80vh;
                .close {
                  color: #aaaaaa;
                  float: right;
                  font-size: 28px;
                  font-weight: bold;
                  padding-right: 20px;
                }
                .close:hover,
                .close:focus {
                  color: rgb(0, 0, 0);
                  text-decoration: none;
                  cursor: pointer;
                }
                .development-row {
                  margin: auto;
                  padding: 20px;
                  width: 80%;
                  .modal-image {
                    img {
                      width: 400px;
                      height: 400px;
                      margin: 5px;
                    }
                  }
                  .modal-content {
                    text-align: justify;
                  }
                }
              }
            }
          }
          .development:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    .about-header {
      padding: 20px;
      h1 {
        font-size: 40px;
      }
    }
    .description {
      .contaner {
        .our-purpose {
          margin: 0 5%;
          font-size: 20px;
          line-height: 140%;
          text-align: justify;
          padding: 30px 0;
          .purpose-heading {
            text-align: center;
            font-size: 20px;
            margin-bottom: 30px;
          }
        }
        .our-value {
          padding: 0 5%;
          display: block !important;
          .value-heading {
            background-color: $primary-color;
            padding: 20px 30px;
            height: 50vh;
            .heading {
              text-align: center;
              color: $white-color;
              margin-bottom: 0;
            }
            .text {
              text-align: justify;
              font-size: 18px;
            }
            hr {
              border: 2px solid $secondary-color;
              width: 100px;
              margin-bottom: 30px;
            }
          }
          .value-content {
            .our-vision {
              background-color: white;
              padding: 20px 40px;
            }
            .our-mission {
              background-color: white;
              padding: 20px 40px;
            }
            .our-enterprise {
              background-color: white;
              padding: 20px 40px;
            }
          }
        }
        .division {
          background-color: rgb(202, 202, 255);
          margin-top: 50px;
          padding: 50px 10px;
          .division-heading {
            margin-bottom: 0;
            font-size: 20px;
          }
          .our-division {
            display: block !important;
            padding-top: 5px;
            .software {
              margin: 20px 0;
              img {
                height: 300px;
                width: 80vw;
                transition: width 1s, height 1s, transform 1s;
              }
              img:hover {
                width: 90vw;
                height: 300px;
              }
            }
            .training {
              margin: 20px 0;
              img {
                height: 300px;
                width: 80vw;
                transition: width 1s, height 1s, transform 1s;
              }
              img:hover {
                width: 90vw;
                height: 300px;
              }
            }
            .development {
              margin: 20px 0;
              img {
                height: 300px;
                width: 80vw;
                transition: width 1s, height 1s, transform 1s;
              }
              img:hover {
                width: 90vw;
                height: 300px;
              }
            }
          }
        }
      }
    }
  }
}
