.service {
  .service-header {
    padding: 30px;
    h1 {
      text-align: center;
      padding-top: 100px;
      font-size: 60px;
    }
  }
  .container {
    .header {
      margin: 50px 25%;
      text-align: center;
      .container-header {
        line-height: 160%;
        text-align: center;
        padding-bottom: 10px;
      }
      p {
        line-height: 160%;
        font-size: 20px;
      }
    }
  }
}
